.btn-continue:hover {
    background-color: white;
    border-color: #f16325;
    color: #f16325;
}

.btn-payment:hover {
    background-color: white;
    border-color: #f16325;
    color: #f16325;
}
